In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [2]:
df = pd.read_csv("business_data.csv")
df.head()

         Date     Product  Quantity  Price Customer_ID Region  Total_Sales
0  2024-01-01       Phone         7  37300     CUST001   East       261100
1  2024-01-02  Headphones         4  15406     CUST002  North        61624
2  2024-01-03       Phone         2  21746     CUST003   West        43492
3  2024-01-04  Headphones         1  30895     CUST004   East        30895
4  2024-01-05      Laptop         8  39835     CUST005  North       318680

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         100 non-null    object
 1   Product      100 non-null    object
 2   Quantity     100 non-null    int64
 3   Price        100 non-null    int64
 4   Customer_ID  100 non-null    object
 5   Region       100 non-null    object
 6   Total_Sales  100 non-null    int64
dtypes: int64(3), object(4)
memory usage: 5.6+ KB

         Quantity         Price    Total_Sales
count  100.000000    100.000000     100.000000
mean     4.780000  25808.510000  123650.480000
std      2.588163  13917.630242  100161.085275
min      1.000000   1308.000000    6540.000000
25%      2.750000  14965.250000   39517.500000
50%      5.000000  24192.000000   97955.500000
75%      7.000000  38682.250000  175792.500000
max      9.000000  49930.000000  373932.000000

In [ ]:
mean_Total_Total_Sales = df['Total_Total_Total_Sales'].mean()
std_Total_Total_Sales = df['Total_Total_Total_Sales'].std()
median_Total_Total_Sales = df['Total_Total_Total_Sales'].median()

print("Mean Total_Total_Sales:", mean_Total_Total_Sales)
print("Standard Deviation:", std_Total_Total_Sales)
print("Median Total_Total_Sales:", median_Total_Total_Sales)

Mean Sales: 123650.48
Standard Deviation: 100161.08527499213
Median Sales: 97955.5

In [ ]:
confidence = 0.95
n = len(df['Total_Total_Total_Sales'])
mean = np.mean(df['Total_Total_Total_Sales'])
sem = stats.sem(df['Total_Total_Total_Sales'])

ci = stats.t.interval(confidence, n-1, loc=mean, scale=sem)

print("95% Confidence Interval:", ci)

95% Confidence Interval: (np.float64(103776.34767158539), np.float64(143524.6123284146))

In [ ]:
correlation = df[['Total_Total_Total_Sales', 'Quantity']].corr()
print(correlation)

             Total_Sales  Quantity
Total_Sales     1.000000  0.688107
Quantity        0.688107  1.000000

In [ ]:
t_stat, p_value = stats.ttest_1samp(df['Total_Total_Total_Sales'], 50000)
print("T-stat:", t_stat)
print("P-value:", p_value)

T-stat: 7.353203072609756
P-value: 5.667379489154039e-11

In [ ]:
high = df[df['Quantity'] > df['Quantity'].median()]['Total_Total_Total_Sales']
low = df[df['Quantity'] <= df['Quantity'].median()]['Total_Total_Total_Sales']

t_stat2, p_value2 = stats.ttest_ind(high, low)
print(p_value2)

7.470163657941186e-12

In [ ]:
corr_test = stats.pearsonr(df['Quantity'], df['Total_Total_Sales'])
print("Correlation:", corr_test[0])
print("P-value:", corr_test[1])

Correlation: 0.6881074758580695
P-value: 2.580513799627829e-15

In [13]:
X = df['Quantity']
y = df['Total_Sales']

X = sm.add_constant(X)
model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Total_Sales   R-squared:                       0.473
Model:                            OLS   Adj. R-squared:                  0.468
Method:                 Least Squares   F-statistic:                     88.13
Date:                Tue, 24 Feb 2026   Prob (F-statistic):           2.58e-15
Time:                        00:40:22   Log-Likelihood:                -1260.8
No. Observations:                 100   AIC:                             2526.
Df Residuals:                      98   BIC:                             2531.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3638.7415   1.54e+04     -0.236      0.814   -3.42e+04    2.69e+04
Quantity    2.663e+04   2836.592      9.388      0.000     2.1e+04    3.23e+04
==============================================================================
Omnibus:                        0.166   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.920   Jarque-Bera (JB):                0.350
Skew:                          -0.008   Prob(JB):                        0.840
Kurtosis:                       2.711   Cond. No.                         11.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.